<div class="shadow">
  <div class="my_container" align="center">
  <h2 style="text-decoration: underline">Trending Projects</h2>
  Are you a programmer like me? I bet you'll find at least one of these useful:
  <br>
    <div align="left">
        <ul class="project-list">
            <li class="project-item"><a href="https://github.com/bbugyi200/cookie" class="project">cookie</a>: A Template-based File Generator. Like <a href="https://github.com/audreyr/cookiecutter">cookiecutter</a> but works with file templates instead of project templates.</li>
            <li class="project-item"><a href="https://github.com/bbugyi200/funky" class="project">funky</a>: Takes shell functions to the next level by making them easier to define, more flexible, and more interactive.</li>
        </ul>
    </div>
  </div>
</div>

<footer class="row middle-xs center-xs">

  {{ if .Site.Params.facebook }}
    <div class="col-xs-3 col-md-2"><a target="_blank" href="https://facebook.com/{{ .Site.Params.facebook }}">Facebook</a></div>
  {{ end }}
  
  {{ if .Site.Params.github }}
    <div class="col-xs-3 col-md-2"><a target="_blank" href="https://github.com/{{ .Site.Params.github }}">GitHub</a></div>
  {{ end }}

  {{ if .Site.Params.linkedin }}
    <div class="col-xs-3 col-md-2"><a target="_blank" href="https://linkedin.com/in/{{ .Site.Params.linkedin }}">LinkedIn</a></div>
  {{ end }}

  {{ if .Site.Params.twitter }}
    <div class="col-xs-3 col-md-2"><a target="_blank" href="https://twitter.com/{{ .Site.Params.twitter }}">Twitter</a></div>
  {{ end }}

  <div class="col-xs-12">
          Liked the article?&ensp;<a href="https://bryanbugyi.com/index.xml">Subscribe to my RSS feed.</a>
  </div>

</footer>
