<footer class="row middle-xs center-xs">

  {{ if .Site.Params.facebook }}
    <div class="col-xs-3 col-md-2"><a target="_blank" href="https://facebook.com/{{ .Site.Params.facebook }}">Facebook</a></div>
  {{ end }}
  
  {{ if .Site.Params.github }}
    <div class="col-xs-3 col-md-2"><a target="_blank" href="https://github.com/{{ .Site.Params.github }}">GitHub</a></div>
  {{ end }}

  {{ if .Site.Params.linkedin }}
    <div class="col-xs-3 col-md-2"><a target="_blank" href="https://linkedin.com/in/{{ .Site.Params.linkedin }}">LinkedIn</a></div>
  {{ end }}

  {{ if .Site.Params.twitter }}
    <div class="col-xs-3 col-md-2"><a target="_blank" href="https://twitter.com/{{ .Site.Params.twitter }}">Twitter</a></div>
  {{ end }}

  <div class="col-xs-12">
      <div class="trending">
          <div style="text-decoration: underline; color=white">Trending Projects</div>
          <a href="https://github.com/bbugyi200/cookie "><img src="https://raw.githubusercontent.com/bbugyi200/cookie/master/img/logo.png" title="A Template-based File Generator. Like cookiecutter but works with file templates instead of project templates." class="project-icon" width="64" height="64"/></a>
          <a href="https://github.com/bbugyi200/funky"><img src="https://raw.githubusercontent.com/bbugyi200/funky/master/img/logo-64.png" title="Takes shell functions to the next level by making them easier to define, more flexible, and more interactive." class="project-icon" width="64" height="64"/></a>
      </div>
  </div>

</footer>
