Did you enjoy the article? Follow me on Twitter to be notified when I upload my next post: &ensp; <a href="https://twitter.com/bryan_bugyi?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @bryan_bugyi</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<br>
<br>

Thanks for reading! Before you go, take a look at some of my more popular open source projects. They make my job as a programmer easier. And they could do the same for you! &#x1f604;

<div class="shadow">
  <div class="my_container" align="center">
  <h2 style="text-decoration: underline">Trending Projects</h2>
    <div align="left">
        <ul class="project-list">
            <li class="project-item"><a href="https://github.com/bbugyi200/cookie" class="project">cookie</a>: A Template-based File Generator. Like <a href="https://github.com/audreyr/cookiecutter">cookiecutter</a> but works with file templates instead of project templates.</li>
            <li class="project-item"><a href="https://github.com/bbugyi200/funky" class="project">funky</a>: Takes shell functions to the next level by making them easier to define, more flexible, and more interactive.</li>
        </ul>
    </div>
  </div>
</div>
